*{
    padding: 0px;
    margin: 0px;
    color: white;
}
#navbar {
    color: aliceblue;
    height: 60px;
    background-color: #0f1111;
    border: 2px white solid;
    

}
button{
    background-color: #f08804;
}
#logo{
    font-size: 25px;
    color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
